*{
    box-sizing:border-box;
    margin:0px;
}
#main-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width:25vw;
    height:82vh;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-shadow: 0 0 15px;
}
#sec1{
    width:23vw;
    height:15vh;
    padding:15px 2px;
}
#sec1-p1{
    text-align: right;
    font-size:35px;
}
#sec2{
    width:23vw;
    height:63vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.items{
    margin:7px;
    width:55px;
    height:55px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
    box-shadow:0 0 5px black;
}
.items:hover{
    background-color:whitesmoke;
    cursor:pointer;
}
.operators{
    color:blue;
}
#item20{
    background-color: blue;
    color:white;
    box-shadow: none;
}

